body {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
.back-image {
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.home-container {
    background-color: #ffdee7;
    overflow: hidden;
    height: 92vh !important;
}
.home-container-cakes {
    background-color: #ffdee7;
    overflow: hidden;
    height: 84vh !important;
}
.home-container-slug {
    background-color: #ffdee7;
    overflow: hidden;
    height: 84vh !important;
}
.route-container,
.route-container h6,
.route-container a {
    background-color: #a15f56;
    color: white;
    font-family: "Zeyada", cursive;
    font-size: 1.2rem;
}
.trending-container {
    background-color: #ec9eb0;
    position: relative;
}
.container-home {
    position: relative;
    height: 100vh;
    text-align: center;
}
.heading-font {
    font-family: "Zeyada", cursive;
    font-size: 4rem;
    font-weight: bolder;
    color: #a15f56;
}

.subheading-font {
    font-family: "Zeyada", cursive;
    font-size: 2rem;
    font-weight: bold;
}
.para-font {
    font-family: "Zeyada", cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: #a15f56;
}

.wave1 {
    position: absolute;
    width: 100vw;
    bottom: 0;
}
.wave2 {
    position: absolute;
    width: 100vw;
    top: 0;
}

.checkout-form label {
    font-size: 12px;
    font-weight: 700;
}

.checkout-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
